* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: cadetblue;
}
/*Next two selectors change font family for header elements and centers the h2 headers within their element*/
h3 {
    font-family: impact, fantasy;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Next three selectors change the menu at the top and bottom to lay in a line, show no bullet points, has top nav bar go to the right side of the screen*/
nav {
    float: right;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}
/*Sizes containers and elements within as well make sure the "cards" for my work look uniform*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: yellow;
}

.card {
    width: 50%;
    text-align: center;
}
/*image sizing*/
img {
    height: 300px;
    width: auto;
}
/*Formats the page header*/
.header {
    font-family: DotGothic16;
    background-color: cadetblue;
    text-align: center;
}

.header h1 {
    font-size: 48px;
}
/*Sizes first image differently so that it's larger than the next three*/
#image-1 {
    height: 400px;
    width: auto;
}

#about-me {
    justify-content: flex-start;
    width: 50%;
}

